<div class="container">
  <div class="row">
    <h2 class="text-center my-4">Статистика ответов</h2>

    <div class="col-4" *ngFor="let question of questionsFromStatistic$ | async">
      <h4 class="text-center">Вопрос про:</h4>
      <h5 class="mb-3">{{question.questionName | slice:0:60 }}...</h5>
      <h6 class="my-3">Статистика ответов:</h6>
      <ul>
        <li *ngFor="let answer of question.questionData">
          {{answer.answerName}} - {{answer.count}}
        </li>
      </ul>
    </div>

  </div>
</div>

