<div *ngIf="sidenav.opened" class="area-to-close-sidenav" (click)="sidenav.toggle(false)"></div>
<mat-sidenav-container class="mat-sidenav-container">
  <mat-sidenav
      #sidenav
      role="navigation"
      class="mat-sidenav"
      fixedInViewport="true"
      fixedTopGap="62"
      fixedBottomGap="56"
  >
    <mat-nav-list>
      <a
        (click)="sidenav.toggle(false)"
        mat-list-item
        [routerLink]="'/vote'"
        routerLinkActive="active"
      >
        <mat-icon class="icon">how_to_vote</mat-icon>
        <span class="label">Голосование</span>
      </a>
      <a
        (click)="sidenav.toggle(false)"
        mat-list-item type="button"
        [routerLink]="'/statistic'"
        routerLinkActive="active"
      >
        <mat-icon class="icon">score</mat-icon>
        <span class="label">Статистика</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="mat-content">
    <mat-toolbar color="primary">
      <div fxHide.gt-xs>
        <button mat-button (click)="sidenav.toggle()">
          <mat-icon>view_headline</mat-icon>
        </button>
      </div>
      <div>
        <a [routerLink]="'/'" class="ml-2">Главная</a>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" fxFlexAlign="center" fxHide.xs>
        <ul fxLayout class="navigation-items">
          <li fxLayoutAlign="flex-end">
            <a [routerLink]="'/vote'" routerLinkActive="active">
              <mat-icon class="icon">how_to_vote</mat-icon>
              <span class="label">Голосование</span>
            </a>
          </li>
          <li fxLayoutAlign="flex-end">
            <a routerLink="/statistic" routerLinkActive="active">
              <mat-icon class="icon">score</mat-icon>
              <span class="label">Статистика</span>
            </a>
          </li>
        </ul>
      </div>
    </mat-toolbar>

  </mat-sidenav-content>
</mat-sidenav-container>
