<div class="row justify-content-center mt-5">
    <div class="col-md-9">
        <div class="error-template text-center">
            <h2>Some error occurred</h2>
            <a href="/" class="btn btn-danger btn-lg mt-3">
                Go Back to Home
            </a>
        </div>
    </div>
</div>
