<div class="container text-center">
    <h5 class="m-3">Your vote is calculated please go on:</h5>

    <div class="d-flex justify-content-center align-items-center">
        <a href="/" class="btn btn-primary btn-lg mx-3" role="button">Home page</a>
        <span class="h6">or</span>
        <a href="/stat" class="btn btn-success btn-lg mx-3" role="button">Statistic</a>
        <span class="h6">or</span>
        <a href="/variants" class="btn btn-secondary btn-lg mx-3" role="button">Choose again</a>
    </div>
</div>
