:host {
  .main-page {
    position: fixed;
    top: 64px;
    width: 100%;
    height: var(--main-height);
    background: center / contain no-repeat url('http://snob.kg/images/3b6d735ea125652340ff44fbcccba76b.jpg');
    transform: scale(0.6);
  }
}
