:host {
  .show-statistic-file {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    justify-content: space-around;

    button {
      width: 18rem;
    }
  }

  .statistic-file {
    min-width: 36rem;
    min-height: 24rem;
    border: 1px solid darkblue;
  }
}
